{% extends 'base.html' %}
{% load static %}	
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">About Us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
 <div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col-lg-6 heading-section text-center ftco-animate">
      <h2 class="mb-4">We provide <span>IT Solution</span> for many years</h2>
      <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta venenatis leo eget hendrerit.</p>
    </div>
  </div>
  <div class="row">
   <div class="col-md-4">
    <div class="services-2 text-center">
     <div class="icon">
      <span class="flaticon-web-programming"></span>
    </div>
    <div class="text">
      <h3>Web Development</h3>
      <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta venenatis leo eget hendrerit.</p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <img src="{% static 'website/images/services.svg' %}" class="img-fluid" alt="">
</div>
<div class="col-md-4">
  <div class="services-2 text-center">
   <div class="icon">
    <span class="flaticon-secure"></span>
  </div>
  <div class="text">
    <h3>Server Security</h3>
    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta venenatis leo eget hendrerit.</p>
  </div>
</div>
</div>
</div>
</div>
</section>

<div class="row">
	<div class="col-md-3">
		<!-- Tabs nav -->
		<div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
				<i class="fa fa-user-circle-o mr-2"></i>
				<span class="font-weight-bold small text-uppercase">Personal information</span></a>

			<a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
				<i class="fa fa-calendar-minus-o mr-2"></i>
				<span class="font-weight-bold small text-uppercase">History</span></a>

			<a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
				<i class="fa fa-star mr-2"></i>
				<span class="font-weight-bold small text-uppercase">our success story</span></a>
			</div>
	</div>

<span></span>
	<div class="col-md-9">
		<!-- Tabs content -->
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
				<h4 class="font-italic mb-4">Personal information</h4>
				<p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			
			<div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
				<h4 class="font-italic mb-4">History</h4>
				<p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			
			<div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
				<h4 class="font-italic mb-4">our success story</h4>
				<p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</div>


<section class="ftco-section ftco-no-pb testimony-section" style="background-image: url('../static/images/bg_1.jpg');">
	<div class="overlay-1"></div>
	<div class="container-fluid">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
				<h2 class="mb-4">The creative Team Behind the success</h2>
			</div>
		</div>
		
		<div class="container">
			<div class="row text-center">
				{%for member in members %}
				<!-- Team item -->
				<div class="col-xl-3 col-sm-6 mb-5">
					<div class="testimony-wrap  align-items-stretch"><img src="{{member.image.url}}" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0 bold">{{member.name}}</h5><span class="large text-uppercase text-muted">{{member.description}}</span>
						<ul >
							<li class="list-inline-item"><a href="{{member.facebook}}" ><i class="fa fa-facebook-f"></i></a></li>
							<li class="list-inline-item"><a href="{{member.twitter}}" ><i class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="{{member.instagram}}" ><i class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item"><a href="{{member.lindekin}}" ><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div><!-- End -->
				{%endfor%}		
	</div>
</section>

<section class="ftco-section bg-light ftco-faqs">
 <div class="container">
  <div class="row">
   <div class="col-lg-6 order-md-last">
    <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url('../static/images/about.jpg');">
    </div>
    <div class="d-flex mt-3">
     <div class="img img-2 mr-md-2 w-100" style="background-image:url('../static/images/about-1.jpg');"></div>
     <div class="img img-2 ml-md-2 w-100" style="background-image:url('../static/images/about-2.jpg');"></div>
   </div>
 </div>

 <div class="col-lg-6">
  <div class="heading-section mb-5 mt-5 mt-lg-0">
   <h2 class="mb-3">Frequently Asks Questions</h2>
 </div>
 <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
  <div class="card">
    <div class="card-header p-0" id="headingOne">
      <h2 class="mb-0">
        <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
         <p class="mb-0">How can we help your business?</p>
         <i class="fa" aria-hidden="true"></i>
       </button>
     </h2>
   </div>
   <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
    <div class="card-body py-3 px-0">
     <ol>
      <li>Far far away, behind the word mountains</li>
      <li>Consonantia, there live the blind texts</li>
      <li>When she reached the first hills of the Italic Mountains</li>
      <li>Bookmarksgrove, the headline of Alphabet Village</li>
      <li>Separated they live in Bookmarksgrove right</li>
    </ol>
  </div>
</div>
</div>

<div class="card">
  <div class="card-header p-0" id="headingTwo" role="tab">
    <h2 class="mb-0">
      <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
       <p class="mb-0">How long does it take to build a website?</p>
       <i class="fa" aria-hidden="true"></i>
     </button>
   </h2>
 </div>
 <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
  <div class="card-body py-3 px-0">
   <ol>
    <li>Far far away, behind the word mountains</li>
    <li>Consonantia, there live the blind texts</li>
    <li>When she reached the first hills of the Italic Mountains</li>
    <li>Bookmarksgrove, the headline of Alphabet Village</li>
    <li>Separated they live in Bookmarksgrove right</li>
  </ol>
</div>
</div>
</div>

<div class="card">
  <div class="card-header p-0" id="headingThree" role="tab">
    <h2 class="mb-0">
      <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
       <p class="mb-0">Can I help your IT Solution for business?</p>
       <i class="fa" aria-hidden="true"></i>
     </button>
   </h2>
 </div>
 <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
  <div class="card-body py-3 px-0">
   <ol>
    <li>Far far away, behind the word mountains</li>
    <li>Consonantia, there live the blind texts</li>
    <li>When she reached the first hills of the Italic Mountains</li>
    <li>Bookmarksgrove, the headline of Alphabet Village</li>
    <li>Separated they live in Bookmarksgrove right</li>
  </ol>
</div>
</div>
</div>

<div class="card">
  <div class="card-header p-0" id="headingFour" role="tab">
    <h2 class="mb-0">
      <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
       <p class="mb-0">What are those requirements for ITSolutions?</p>
       <i class="fa" aria-hidden="true"></i>
     </button>
   </h2>
 </div>
 <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
  <div class="card-body py-3 px-0">
   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
