{% extends 'base.html' %}
{% load i18n %}
{% load static %}	
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1 class="mb-3 bread">{% trans "Our references" %}</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">{% trans "Home" %} <i class="fa fa-chevron-right"></i></a></p>
        </div>
      </div>
    </div>
  </section>

<section class="ftco-section bg-light">
    <div class="page-content page-container" id="page-content">
      <div class="padding">
          
                  <div class="card">
                      <div class="card-block">
                          <div class="row" id="sortable">
                            {% for reference in references %}
                              <div class="col-md-3 m-b-20" draggable="false">
                                  <div class="card-sub"> <img class="card-img-top img-fluid" src="{{reference.image.url}}" alt="Card image cap">
                                      <div class="card-block">
                                        <a href="{% url 'reference' reference.id %}"><h4 class="card-title">{{reference.name}}</h4></a>
                                          <p class="card-text">{{reference.service}}</p>
                                      </div>
                                  </div>
                              </div>
                              {%endfor%}
                          </div>
                      </div>
                  </div> 
            
      </div>
  </div>

  <div class="row" >
    <div class="col-md-12">
      {% if references.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if references.has_previous %}
            <li class="page-item">
              <a href="?page={{references.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link">&laquo;</a>
            </li>
          {% endif %}
          {% for i in references.paginator.page_range %}
            {% if references.number == i %}
              <li class="page-item active">
                <a class="page-link">{{i}}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a href="?page={{i}}" class="page-link">{{i}}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if references.has_next %}
            <li class="page-item">
              <a href="?page={{references.next_page_number}}" class="page-link">&raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link">&raquo;</a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
  <br>
  
  </div>
  </section>
 {% endblock %}