h{% extends 'base.html' %}
{% load i18n %}
{% load static %}	
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1 class="mb-3 bread">{% trans "job Offers "%} </h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">{% trans "Home" %} <i class="fa fa-chevron-right"></i></a></span> <span>{% trans "job offers"%}<i class="fa fa-chevron-right"></i></span></p>
        </div>
      </div>
    </div>
  </section>

<section>
  
 <div class="container-fluid ">
  
  <div class=" row justify-content-center">
    {% for offer in offers %}
      <div class="col-md-5 col-lg-4 col-xl-3 col-sm-6 ">
        
          <div class=" card shadow-lg border-0 py-2">
              <div class="card-header border-0 mb-0">
                  <div class="row justify-content-between">
                      <div class="col-auto col-sm-auto">
                          <h4> <span class="badge badge-pill badge-info">{{offer.offer_nature}}</span></h4>
                      </div>
                  </div>
              </div>
              <div class=" card-body text-center pb-0 mt-0 pt-3">
                  <div class="d-block">
                      <h3 class="card-title mb-0 font-weight-bold">{{offer.title}}</h3> 
                  </div>
                  <div class="d-inline-flex row mb-3 ">
                      <div class="col-md-auto">
                        
                          <ul class="list-inline my-0">
                            <li class="list-inline-item"> <span class="badge badge-pill badge-outline ">{{offer.keywords}}</span></li>
                          </ul>
                      </div>
                      
                  </div>
                  <div class="date">
                    <p>{% trans "Posted on" %} {{offer.postdate}}</p>
                    <p>{% trans "Deadline" %}{{offer.deadline}}</p>
                </div>
              </div>
              <div>
                  <hr class="hl">
              </div>
              <div class="card-footer border-0 text-center mx-auto ">
                  <h5 class="footer"> <a href="{% url 'offer' offer.id  %}" class="text-decoration-none"> {% trans "VIEW JOB" %} </a></h5>
              </div>
          </div>
          
      </div>
      {%endfor%}
  </div>
  
</div>

<div class="row" >
  <div class="col-md-12">
    {% if offers.has_other_pages %}
      <ul class="pagination justify-content-center">
        {% if offers.has_previous %}
          <li class="page-item">
            <a href="?page={{offers.previous_page_number}}" class="page-link">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
          </li>
        {% endif %}
        {% for i in offers.paginator.page_range %}
          {% if offers.number == i %}
            <li class="page-item active">
              <a class="page-link">{{i}}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if offers.has_next %}
          <li class="page-item">
            <a href="?page={{offers.next_page_number}}" class="page-link">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
<br>

</div>

</section> 
  {%endblock%}