h{% extends 'base.html' %}
{% load static %}	
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1 class="mb-3 bread">job Offers </h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>job offers      <i class="fa fa-chevron-right"></i></span></p>
        </div>
      </div>
    </div>
  </section>
<section>
  <!-- job_listing_area_start  -->
  <div class="job_listing_area plus_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="job_lists m-0">
                    <div class="row">
                        {% for offer in offers %}
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div >
                                        <img src="{{ offer.image.url }}" width="85" height="85" >
                                    </div>
                                    
                                    <div>
                                        <a href="{% url 'offer' offer.id %}"><h3>  &nbsp {{offer.title}}</h3></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location">
                                                <p>  &nbsp  Basic skills :&nbsp {{offer.keywords}}</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="date">
                                        <p>Posted on {{offer.postdate}}</p>
                                    </div>
                                    <div class="location">
                                        <p> <i class="fa fa-clock-o"></i> {{offer.offer_nature}}</p>
                                    </div>
                                    <div >
                                        <a href="{% url 'offer' offer.id %}" class="btn btn-info">see more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%} 
                </div>
            </div>
        </div>
    </div>
</div>
</section>

  {%endblock%}